# Ignore compiled binaries, text files and artifacts in homeworks and workbench

homeworks/**/*

!homeworks/**/
!homeworks/**/*.c
!homeworks/**/*.h
!homeworks/**/*.md
!homeworks/**/*.txt
!homeworks/**/*.png
!homeworks/**/Makefile

workbench/**/*

!workbench/**/
!workbench/**/*.c
!workbench/**/*.h
!workbench/**/*.md