# Ignore compiled binaries, text files and artifacts in homeworks and workbench

homeworks/**/*

!homeworks/**/
!homeworks/**/*.c
!homeworks/**/*.h
!homeworks/**/*.md
!homeworks/**/*.txt
!homeworks/**/Makefile